.grid{
    display: grid;
    grid-template-columns:  auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.score_b{
    display: flex;
    justify-content: space-evenly;
    
}